<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
      VolunteerUp
    </a>
  
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" >Home</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/events">Events
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/volunteers">Volunteers</a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" routerLink="/organizations">Organizations</a>
          </li>
      </ul>
    </div>

    <div  id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
          <li [ngClass]="{'d-none': !show.user}" style="margin-top: 1px;">
            <a data-toggle="modal" data-target="#add_listing" style="color: white;"
                class="btn btn-outline-white bg-dark">
                <span class="la la-plus"></span> Create Volunteering Event
            </a>
        </li>
          <li class="nav-item active">
            <a class="nav-link waves-effect waves-light" 
              >1 <!--this numer should be button for the notifications-->
                <i class="fa fa-bell"></i>     
<!-- 
                <a class="nav-link position-relative" id="dropdownBasic2" style="display: inline-flex;"
                (click)="navigateTo('/notifications')" data-toggle="tooltip" data-placement="bottom"
                [title]="globals.labels.tooltips.shared_page.notification">
                <div id="notification">
                  <i class="icon-ttnotifications tt-icon-lg"></i>
                  <span *ngIf="unreadNotification" style="right: -20px"
                    class="notification badge-inverse badge-pill badge-big-search-primary-inverse">{{unreadNotification}}</span>
                </div>
              </a> -->

            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i> Profile </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item" href="#">My account</a>
              <a class="dropdown-item" href="#">Log out</a>
            </div>
          </li>
        </ul>
      </div>
      
  </nav>

  <div class="modal fade" id="add_listing" tabindex="-1" role="dialog" aria-labelledby="claim_listing_label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="claim_listing_label"><i class="la la-check-square"></i> Create Volunteering Event
                </h5>
            </div>
            <div class="modal-body">
                <form action="/">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                              * Event Title
                              <input type="text" placeholder="Insert title" class="form-control" required
                                    [(ngModel)]="addEvent.title" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-6">
                                Description
                                <input type="text" placeholder="Insert description" class="form-control"
                                  [(ngModel)]="addEvent.description" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                          <div class="col-md-12">
                            * Category
                              <ng-select bindLabel="description" bindValue="value" dropdownPosition="bottom"
                                  [(ngModel)]="addEvent.category.value" placeholder="Select category" 
                                  (open)="getAllCategories()" [items]="categories" 
                                  [ngModelOptions]="{standalone: true}">
                              </ng-select>
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                          <h6>Location</h6>
                          <div >
                            <label
                            for="virtual">Is the event virtual ?</label>&nbsp;
                            <input type="checkbox"
                            [(ngModel)]="addEvent.is_virtual"
                            name="virtual" id="is_virtual" value="is_virtual"
                            [ngModelOptions]="{standalone: true}"  >   
                          </div>  
                        </div>
                      </div>
                  </div>
                  
                  <div class="form-group" *ngIf="!addEvent.is_virtual;else other_content">
                    <div class="row">   
                        <div class="col-md-6">
                          Country

                          <ng-select (open)="getAllCountries()" [items]="countries" 
                            placeholder="Select country" bindLabel="name"
                            bindValue="name" [(ngModel)]="seletedCountry"
                            [ngModelOptions]="{standalone: true}">
                          </ng-select>
                          <!-- <ng-select bindLabel="description" bindValue="value" dropdownPosition="bottom"
                                  [(ngModel)]="addEvent.category.value" placeholder="Select category" 
                                  (open)="getAllCategories()" [items]="categories" 
                                  [ngModelOptions]="{standalone: true}">
                              </ng-select> -->

                        </div>
                        <div class="col-md-6">
                           * City
                            <ng-select bindLabel="name" bindValue="name" dropdownPosition="bottom"
                                  [(ngModel)]="addEvent.location.city" placeholder="Select city" 
                                  (open)="getAllCities()" [items]="cities" 
                                  [ngModelOptions]="{standalone: true}">
                              </ng-select>

                        </div>
                      </div>                  
                      <div class="row" style="margin-top: 10px;">   
                        <div class="col-md-6">
                            Address
                            <input type="text" placeholder="Insert address" class="form-control"
                                  [(ngModel)]="addEvent.location.address" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-md-6">
                           Google Maps URL
                            <input type="text" placeholder="Insert Google Maps URL" class="form-control"
                              [(ngModel)]="addEvent.location.postal_code" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                  </div>
              
                   <ng-template #other_content>
                       Virtual Event Informations Need too add in database
                         <input type="text" placeholder="Insert virtual event info" class="form-control"
                            >
                    </ng-template>    
                  <hr>

                  <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                          Application Deadline
                          <input type="date" data-date-format="DD MMMM YYYY"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]='addEvent.deadline' onFocusOut
                            class="form-control">
                      </div>
                        <div class="col-md-6">
                          Volunteers Needed
                          <input type="text" placeholder="Number of volunteers needed" class="form-control" 
                                [(ngModel)]="addEvent.volunteers_needed" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                  <div class="row">
                      <div class="col-md-6">
                        Start Date
                        <input type="date" data-date-format="DD MMMM YYYY"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]='addEvent.start_date' onFocusOut
                          class="form-control">
                    </div>
                      <div class="col-md-6">
                        End Date
                        <input type="date" data-date-format="DD MMMM YYYY"
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]='addEvent.end_date' onFocusOut
                          class="form-control">
                      </div>
                  </div>
              </div>

              <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                      Duration
                      <ng-select (open)="getAllDurations()" [items]="durations" 
                        placeholder="Select duration" bindLabel="description"
                        bindValue="value" [(ngModel)]="addEvent.duration.value"
                        [ngModelOptions]="{standalone: true}" 
                      >
                    </ng-select>
                  </div>
                </div>
            </div>

              <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                      Estimated Work Hours
                          <input type="text" placeholder="Insert estimated hours" class="form-control" 
                                [(ngModel)]="addEvent.estimated_hours" [ngModelOptions]="{standalone: true}">
                  </div>
                    <div class="col-md-6">
                      Estimated Hours per Day
                          <input type="text" placeholder="Insert estimated hours per day" class="form-control" 
                                [(ngModel)]="addEvent.average_hours_per_day" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>

            <div class="form-group">
              <div class="row">
                  <div class="col-md-12">
                    Event Status
                    <ng-select (open)="getAllStatuses()" [items]="eventStatuses" 
                      placeholder="Select event status" bindLabel="description"
                      bindValue="value" [(ngModel)]="addEvent.status.value"
                      [ngModelOptions]="{standalone: true}" 
                    >
                  </ng-select>
                </div>
              </div>
          </div>

          <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                  Great For
                  <ng-select (open)="getAllGreatFor()" [items]="greatFor" 
                      placeholder="Select great for" bindLabel="description"
                      bindValue="value" [(ngModel)]="addEvent.great_for.value"
                      [ngModelOptions]="{standalone: true}" 
                    >
                </ng-select>
              </div>
                <div class="col-md-6">
                  Group Size
                  <ng-select (open)="getAllGroupSize()" [items]="groupSize" 
                    placeholder="Select group size" bindLabel="description"
                    bindValue="value" [(ngModel)]="addEvent.group_size.value"
                    [ngModelOptions]="{standalone: true}" 
                >
                </ng-select>
                </div>
            </div>
        </div>
        <hr>
        <h6>Requirements</h6>
        <div class="form-group">
          <div class="row">
              <div class="col-md-6">
                Driving License
                    <input type="text" placeholder="Driving license" class="form-control" 
                          [(ngModel)]="addEvent.requirements.driving_license" [ngModelOptions]="{standalone: true}">
            </div>
              <div class="col-md-6">
                Minimum age
                    <input type="text" placeholder="Minimum age" class="form-control" 
                          [(ngModel)]="addEvent.requirements.min_age" [ngModelOptions]="{standalone: true}">
              </div>
          </div>
      </div>

      <div class="form-group">
        <div class="row">
            <div class="col-md-6">
              Languages
                  Array of languages
          </div>
            <div class="col-md-6">
              Other
              <input type="text" placeholder="Something other" class="form-control" 
                [(ngModel)]="addEvent.requirements.other" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
    </div>

        <hr>
        <div class="form-group">
          <div class="row">
              <div class="col-md-6">
                Sleeping
                    <input type="text" placeholder="Insert sleeping info" class="form-control" 
                          [(ngModel)]="addEvent.sleeping" [ngModelOptions]="{standalone: true}">
            </div>
              <div class="col-md-6">
                Food
                    <input type="text" placeholder="Insert food info" class="form-control" 
                          [(ngModel)]="addEvent.food" [ngModelOptions]="{standalone: true}">
              </div>
          </div>
      </div>

      <div class="form-group">
        <div class="row">
            <div class="col-md-6">
              Transport
                  <input type="text" placeholder="Insert transport info" class="form-control" 
                        [(ngModel)]="addEvent.transport" [ngModelOptions]="{standalone: true}">
          </div>
            <div class="col-md-6">
              Benefits
                  <input type="text" placeholder="Insert benefits info" class="form-control" 
                        [(ngModel)]="addEvent.benefits" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
    </div>

    <div class="form-group">
      <div class="row">
          <div class="col-md-6">
            Skills needed
             Array of skills
        </div>
          <div class="col-md-6">
            Additional tags    
            How do Insert array od tags
          </div>   
      </div>
  </div>
  <div class="form-group">
    <div class="row">
        <div class="col-md-12">
          Notes
          <textarea placeholder="Insert notes" class="form-control" rows="2"
          [(ngModel)]="addEvent.notes" [ngModelOptions]="{standalone: true}"></textarea>

      </div>
    </div>
</div>

                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" id="closeNewPlace">Close</button>
              <button type="submit" class="btn btn-secondary btn-sm" (click)="onNewEvent()">Save</button>
          </div>
         </div>
      </div>
  </div>

