a:hover {
  cursor: pointer;
  /* color: white !important; */
}

a {
  color: white;
}

i {
  color: white;
}

.dropdown-item,
.dropdown-item:hover {
  color: black;
}

.unread-notification {
  background-color: white;
}

.navbar .notification {
  right: 5px;
  top: -13px;
}

.notification-dropdown {
  margin-top: 9px;
  margin-left: -550px;
  width: 700px;
}

.scroll {
  overflow-y: scroll;
  height: 100vh;
}

.navbar-nav {
  color: white;
}

.dropdown-toggle::after {
  margin-top: 7px;
}

.contact:hover {
  color: white !important;
}

.noti-wrapper {
  white-space: break-spaces;
}

.dropdown-item:active {
  background-color: #f8f9fa !important;
}
