<section class="blog-area blog-grid section-padding-strict section-bg">
    <div class="container">
        <div class="row">
            <div class="container-fluid">
                <form class="input-group">
                  <input
                    type="search"
                    class="form-control"
                    placeholder="Search by Title and Description"
                    aria-label="Search"
                    [(ngModel)]="search"
                    [ngModelOptions]="{standalone: true}"
                  />
                  <button class="btn btn-outline-white yellow_buttons" type="button"
                  (click)="applySearch(search)">Search</button>
                </form>
              </div>
        </div>

        <br>
        <div class="row">
            <div class="container-fluid" style="margin-left: 20px;">
                <h6>Filter volunteering events</h6>
            </div>
        </div>
        <div class="row ">
            <div class="container-fluid">
            
                <!-- <form class="input-group "> -->
                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                <ng-select (open)="getAllCountries()" [items]="countries" 
                                    placeholder="Select country" bindLabel="name"
                                    bindValue="name" [(ngModel)]="selectedCountry"
                                    [ngModelOptions]="{standalone: true}"
                                    >
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <ng-select (open)="getAllCities()" [items]="cities" 
                                 placeholder="Select city" bindLabel="name"
                                 bindValue="name" [(ngModel)]="selectedCity"
                                 [ngModelOptions]="{standalone: true}"
                                 >
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <ng-select (open)="getAllCategories()" [items]="categories" 
                                  placeholder="Select category" bindLabel="description"
                                  bindValue="description" [(ngModel)]="selectedCategory"
                                  [ngModelOptions]="{standalone: true}" 
                                  >
                                </ng-select>
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <div>
                                <ng-select (open)="getAllOrganizations()" [items]="organizations" 
                                  placeholder="Select organization" bindLabel="name"
                                  bindValue="name" [(ngModel)]="selectedOrganization"
                                  [ngModelOptions]="{standalone: true}" 
                                  >
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <div style="text-align: center;">
                                <label
                                for="virtual">Filter Virtual events</label>&nbsp;
                          <input type="checkbox"
                          [(ngModel)]="selectVirtial"
                          name="virtual" id="is_virtual" value="is_virtual"
                            [ngModelOptions]="{standalone: true}"  >   
                            </div>                            
                        </div>

                        <div class="col-md-3">
                            <!-- <input type="date" data-date-format="DD MMMM YYYY"  
                            [ngModelOptions]="{standalone: true}" value={{start_date}}
                            [(ngModel)]='start_date' [id]="start_date" onFocusOut
                            class="form-control"> -->
                            <input placeholder="Start date" class="form-control" type="text" onfocus="(this.type='date')" 
                            [ngModelOptions]="{standalone: true}" value={{start_date}}
                            [(ngModel)]='start_date' [id]="start_date" onFocusOut>

                        </div>

                        <div class="col-md-3">
                            <div>
                                <ng-select (open)="getAllDurations()" [items]="durations" 
                                  placeholder="Duration" bindLabel="description"
                                  bindValue="description" [(ngModel)]="selectedDuration"
                                  [ngModelOptions]="{standalone: true}" 
                                  >
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div>
                                <ng-select (open)="getAllGreatFor()" [items]="greatFor" 
                                  placeholder="Great for.." bindLabel="description"
                                  bindValue="description" [(ngModel)]="selectedGreatFor"
                                  [ngModelOptions]="{standalone: true}" 
                                  >
                                </ng-select>
                            </div>
                        </div>

                    </div>
                    
                    <br>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <button class="btn btn-outline-white yellow_buttons"  
                            type="button" (click)="applyFilter(selectedCategory, selectedCity, selectedCountry, selectedOrganization, selectVirtial, start_date, selectedDuration, selectedGreatFor)">Apply filters</button>
                            &nbsp;
                            <button class="btn btn-outline-white yellow_buttons" 
                            type="button" (click)="clearFilters()">Clear filters</button>
                        </div> 
                    </div>
                   
                  <!-- </form> -->
            </div>
        </div>

        <br>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let volunteering_event of volunteering_events">
                <div class="grid-single">
                    <div class="card post--card shadow-sm" style="cursor: pointer;" (click)="openEventByUuid(volunteering_event.uuid)">
                        <div class="card-body">
                            <div>
                                <h6><a><strong style="color: black;">{{volunteering_event.title}}</strong></a></h6>
                                <span *ngIf="volunteering_event.is_virtual" style="float: right; color: #f1c111; margin-top: -35px;">
                                    <strong>Virtual event</strong> 
                               </span>
                            </div>
                           <hr>
                            <ul class="list-unstyled">
                                <li ><div *ngIf="volunteering_event.category" class="lower-font"><span class="text-grey">Category:</span> {{volunteering_event.category.description}}</div></li>
                                <li>
                                    <div class="lower-font"
                                        *ngIf="volunteering_event.volunteering_location"><span class="text-grey">Location: </span> {{((volunteering_event.volunteering_location ? (volunteering_event.volunteering_location.address ? volunteering_event.volunteering_location.address + ',' : '') + ' ' + volunteering_event.volunteering_location.location.name + ', ' + volunteering_event.volunteering_location.location.country.name  : '') | slice:0:30)}}
                                    </div>
                                </li>
                                <li class="lower-font"><span class="text-grey">Spaces Available:</span> <span> {{volunteering_event.spaces_available}}</span></li>
                                <li class="lower-font"><span class="text-grey">Application Deadline: </span> <strong style="color: black;">{{volunteering_event.deadline}}</strong><span style="color: #f1c111" *ngIf="volunteering_event.expiration"> {{volunteering_event.expiration.description}}</span></li>
                                <li style="text-align: center; font-size: 16px; height: 20px;margin-top: 5px;"><p class="text-grey" *ngIf="volunteering_event.start_date">Start Date: <span style="color: black;">{{volunteering_event.start_date}}</span></p></li>
                            </ul>

                            <div style="height: 40px;">
                                <p *ngIf="volunteering_event.description" class="text-grey" style="font-size: 15px;">{{volunteering_event.description | slice:0:80}}.. </p>
                            </div>
                           
                           <hr>
                           <div class="lower-font">
                            <span class="text-grey pull-left">Created: {{volunteering_event.created_at}}</span>
                            <p class="pull-right lower-font" *ngIf="volunteering_event.organization">
                                by <a href="">{{volunteering_event.organization.title}}</a>
                            </p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>